body{

	background-color: #7FD1B9;
}


h1 {

color: purple;
font-family: Tahoma, san serif;
	
}

h3{

text-align: center;

}

#numques {
font-family: Tahoma, san serif;
font: bold;

}

#visual {
	border-radius: 5px;
	border-color: purple;
	border-style: dashed;
	border-width: 4px;
	background-color: black;
	font-family: Tahoma, san serif;
	color: #849E6A;
	padding: 4px;
	margin-left: 500px;
	margin-right: 500px;
	
}

.class{
	margin-left: 300px;
	margin-right: 300px;
}

#ask {
	text-align: center;
	font-family: Tahoma, san serif;
	color: purple;
	font-weight: 2px;	
	font: bolder;
}

#instruct {

	font-family: Tahoma, san serif;
	color: black;
	font: bold;
	text-align: center;
}
